#resultdiv {
    margin-top: 20px;
    display: none;
}

#resulttable {
    margin: 0px auto;
    width: 500px;
}

#pagectrl {
    font-size: 0.8em;
    text-align: center;
    display: none;
}

#prePageSpan {
    display: none;
}

#nextPageSpan {
    display: none;
}

#searchBtn {
    display: none;
}